











/* FOOTER */
footer { background:#EAF161; color:#DA63C2; text-align:center; padding:20px 0; margin-top:40px; }

/* RESPONSIVE */
@media(max-width:768px) {
  .menu { display:none; }
  .hamburger { display:flex; }
}